*.exe
*.dll
*.gif
plotSkel.jl
metamat[1-9]*
metamatcurrent*
metamatplain*
chainBuilder.jl
*.png
*.csv
!points.csv
!elements.csv
ioflagtemp.txt
tool.jl
*.jld
*.jld2
testscript.jl
LRresults.csv
*test.jl
COM3RL2.jl
block.jl
5x5.jl
test*
untitled.jl
