*.exe
*.dll
metamat[1-9]*
metamatcurrent*
metamatplain*
chainBuilder.jl
*.png
results.csv
parameters.csv
LineRegResults.csv
NNresults.csv
StrainHard.csv
ioflagtemp.txt
tool.jl
*.jld
testscript.jl
LRresults.csv
