*.exe
*.dll
*.gif
plotSkel.jl
metamat[1-9]*
metamatcurrent*
metamatplain*
chainBuilder.jl
*.png
results.csv
parameters.csv
LineRegResults.csv
NNresults.csv
StrainHard.csv
ioflagtemp.txt
tool.jl
*.jld
*.jld2
testscript.jl
LRresults.csv
*test.jl
COM3RL2.jl
